---
parameters:
  - name: cisco.ios_version
    widget: text
    label: IOS Version
    required: false
  - name: cisco.enable_secret
    widget: hidden
    label: Enable Secret
    required: false
---
hostname {{ router.hostname }}
!
! IOS Version: {{ cisco.ios_version | default('15.x') }}
enable secret {{ cisco.enable_secret | default('cisco') }}
!
ntp server {{ glob.ntp_server }}
ip name-server {{ glob.dns_server }}
!
ip vrf {{ proj.default_vrf }}
!
interface Loopback0
 ip address {{ router.mgmt_ip }} {{ router.mgmt_mask | default('255.255.255.0') }}
