{#- OneAccess login/motd banner -#}
banner motd sequence  1 *---------------------------------------------------------------------\r\n*
banner motd sequence  2 *|               --- >  W A R N I N G  < ---                         |\r\n*
banner motd sequence  3 *|                                                                   |\r\n*
banner motd sequence  4 *|Unauthorized use and/or misuse of this system and services may     |\r\n*
banner motd sequence  5 *|constitute a breach of International criminal law, and could lead  |\r\n*
banner motd sequence  6 *|to legal & disciplinary actions. Individuals using this system     |\r\n*
banner motd sequence  7 *|without authority or in excess of their authority are subject to   |\r\n*
banner motd sequence  8 *|having all their activities monitored, recorded & examined by any  |\r\n*
banner motd sequence  9 *|authorized person, including law enforcement, as deemed appropriate|\r\n*
banner motd sequence  10 *|                                                                   |\r\n*
banner motd sequence  11 *|                    !!! LOG OFF IMMEDIATELY !!!                    |\r\n*
banner motd sequence  12 *---------------------------------------------------------------------\r\n*
!
