{#- OneAccess logging configuration -#}
logging buffered debug
logging syslog info
logging timestamp datetime
logging buffered size 16364
logging telnet enable
!
login on-success log
login on-failure log
!
