{#- Cisco login/motd banner -#}
banner login #
---------------------------------------------------------------------
|               --- >  W A R N I N G  < ---                         |
|                                                                   |
|Unauthorized use and/or misuse of this system and services may     |
|constitute a breach of International criminal law, and could lead  |
|to legal & disciplinary actions. Individuals using this system     |
|without authority or in excess of their authority are subject to   |
|having all their activities monitored, recorded & examined by any  |
|authorized person, including law enforcement, as deemed appropriate|
|                                                                   |
|                    !!! LOG OFF IMMEDIATELY !!!                    |
---------------------------------------------------------------------
#
!
